:root {
    --border:1px solid rgb(0, 0, 0);
    --crimson:rgb(220, 20, 60);
    --white: #fff;
    --secondary-color: black;
    --primary-color: white;
    --cadetblue: cadetblue;
    --area-placeholder: white;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
    --black:#333;
    --dark-bg:rgba(0,0,0,.7);
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght.ttf);
}

@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}


.link.faded-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

a {
    color: var(--secondary-color);
    font-weight: bolder;
    font-family: 'Montserrat';
    word-break: break-word;
    animation: slide-in 1s ease-in-out;
}

.type {
    word-break: normal;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}  

html{
    background-color: orange;
    scroll-behavior: smooth;
    height: 100vh;
}

.heading {
    text-align: center;
    font-size: medium;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .gallery .storam-container { 
    columns: 3 350px;
    column-gap: 15px;
} */

.gallery .storam-container ul li {
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    padding: 3px 10px 20px 21px;
    border: 3px solid var(--secondary-color);
    width: -webkit-fill-available;
    overflow: hidden;
    word-wrap: break-word;
}


.gallery .storam-container.active{
    display: none;
}

.gallery .storam-container ul li span {
    position: relative;
    top: 9px;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

.side-bar {
    position: fixed;
    top: 0; 
    display: none;
    width: 20%;
    background-color: orange;
    padding: 20px;
    height: -webkit-fill-available;
    overflow-y: scroll;
    animation: pixel 1s ease-in-out;
}

.side-bar.ranimation {
    position: fixed;
    top: 0; 
    display: none;
    width: 20%;
    background-color: orange;
    padding: 20px;
    height: -webkit-fill-available;
    overflow-y: scroll;
    animation: none !important;
}

@keyframes pixel {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.side-bar::-webkit-scrollbar {
    width: 5px;
}

.side-bar .box .title {
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

.title_gallery {
    margin-right: 68px;
    font-size: 20px;
    color: black;
}

.side-bar .box22 .title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.gallery .box {
    position: relative;
    right: -40px;
    width: fit-content;
}

.side-bar .box {
    border-bottom: var(--border);
    padding: 20px 0;
    display: none;
    animation: slide-in 0.5s ease-in-out forwards;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar .box.active{
    border-bottom: var(--border);
    padding: 20px 0;
    width: -webkit-fill-available;
    display: block;
}


/* media query for iPhones and iPads in portrait orientation */
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
    .side-bar .box .btn {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .side-bar {
        height: -webkit-fill-available !important;
    }
}

@media only screen and (max-device-width: 332px) {
    th, td {
        font-size: 72%;
    }
}

/* media query for iPhones and iPads in landscape orientation */
@media only screen and (max-device-width: 768px) and (orientation: landscape) {
    .side-bar .box .btn {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .side-bar {
        height: -webkit-fill-available !important;
    }
}

.gallery .box #search-box {
    padding: 12px;
    border-radius: 60px;
    border: thick;
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: none;
}

.side-bar .box .btn {
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    padding: 7%;
    display: grid;
    font-family: 'Montserrat';
    text-transform: capitalize;
    display: inline-block;
    vertical-align: top;
}

.category-btn {
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    padding: 7%;
    font-family: 'Montserrat';
    text-transform: capitalize;
    display: inline-block;
    vertical-align: top;
}

.category-btn.active {
    background-color: var(--crimson);
    color: var(--white);
}

.btn2 {
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    padding: 7%;
    font-family: 'Montserrat';
    text-transform: capitalize;
    vertical-align: top;
}

.side-bar .box .btn.active {
    background-color: var(--crimson);
    color: var(--white);
}

.side-bar .box .btn img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.block{
    overflow:hidden;
}
  
.trow {
    display: table-row;
}
.alignL, .alignR {
    display: table-cell;
    padding-right: 25px;
}
.alignR {
    margin: 1px 1px;
}

#side-menu {
    position: sticky;
    top: 0; left: auto;
    height: fit-content;
    width: fit-content;
    padding: 2%;
    line-height: 20px;
    font-size: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    cursor: pointer;
    display: block;
}

#side-menu.active{
    display: none;
}

h3.main_title {
    position: fixed;
    top: -1px;
    right: 15px;
    font-size: 25px;
}

#side-menu.fa-arrow-right {
    left: 90%;
    top: 4px;
    position: relative;
}

.fa-regular.fa-star{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.fa-solid.fa-star{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.side-bar.active{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: block;
}

#feedback-button {
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#feedback-form {
    bottom: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    z-index: 1;
}

#side-menu.hidden {
    display: none!important;
}

#check {
    z-index: 1000;
}

textarea {
    resize: vertical;
    min-height: 60%;
    max-height: 100%;
} 

textarea:focus {
    outline: none;
}

.gallery .storam-container {
    text-align: left;
}

input::placeholder,
textarea::placeholder {
    color: var(--area-placeholder);
}

.gallery .box.active{
    display: none;
}

.gallery .storam-container ul #signinfirst {
    padding: 10px 67px;
}

.side-bar #signinfirst_box22.active{
    left: 10%;
    top: 45%;
    position: relative;
    display: block;
}

.side-bar #signinfirst_box22 {
    display: none;
}

button{
    border: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    right: 10%;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

#message {
    position: absolute;
    top: calc(57% + 60px);
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    opacity: 1;
    animation: fade-in 1s ease-in-out;
}
  
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    border: 4px solid var(--secondary-color);
    padding: 3px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: left;
}
  

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
  
  
#loader > div {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    animation: bounce 0.5s alternate infinite ease-in-out;
}

#loader > div:nth-child(2) {
    animation-delay: 0.1s;
}

#loader > div:nth-child(3) {
    animation-delay: 0.2s;
}

#loader > div:nth-child(4) {
    animation-delay: 0.3s;
}
  
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}